<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            EN&KO Translation
        </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center">En&Ko Translation</h1>
                2021년 1학기 상명대학교 AI심화트랙 인공지능기초과제&SW-PBL.</br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <form action="./kr_input" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="kr_text">
                  </div>
                  <button type="submit" class="btn btn-primary">검색</button>
                </form>
              </div>
            </div>

            {% if data %}
            <div id="result">
              {% for k, v in data.items() %}<div class="box{{loop.index}}" value="{{k}}">v</div>{% endfor%}
            </div>
            {% endif %}

          </div>
    </body>
</html>