<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EN&KO Translation</title>
    <link rel="stylesheet" href="../static/result.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  </head>
<body>
  <div class="result-container">
    <div class="result-area1">
      <div class="result-item">
        <h2 class="search-lang">새에 대한 검색 결과</h2></br>
        <div><a href=https://namu.wiki/w/%EC%83%88>새 - 나무위키</a></br>
          이들은 요즘 볼 수 있는 새처럼 깃털과 날개가 있었지만 공룡처럼 이빨과 뼈가 달린 긴 꼬리도 갖고 있었으며, 날개에 발톱도 달려 있었다. 새들의 ...</br>
        </div>
        <div><a href=https://ko.wikipedia.org/wiki/%EC%83%88>새 - 위키백과, 우리 모두의 백과사전</a></br>
          새 또는 조류(鳥類)는 날 수 있도록 진화된 조류 동물을 의미한다. 또한 조류는 보통 비행이 가능하며, 계통적으로는 석형강 공룡상목 '조강'(鳥綱)에 속한다.</br>
        </div>
        </br>
      </div>
    </div>
    
    <div class="result-area2">
      <div class="result-item">
        <h2 class="search-lang">bird에 대한 검색 결과</h2></br>
        <div><a href=https://www.bird.co/fr/>Bird - Enjoy the Ride - Bird.co</a></br>
          22 avr. 2021 — Bird is a reliable last mile electric scooter rental service. Our mission is to make cities more livable by reducing car usage, traffic, and ...</br>
        </div>
        <div><a href=https://www.banquemondiale.org/fr/who-we-are/ibrd>Banque internationale pour la reconstruction et le ...</a></br>
          La BIRD et l'IDA œuvrent en étroite collaboration avec les trois autres institutions du Groupe de la Banque mondiale, ainsi qu'avec les pouvoirs publics et le ...</br>
        </div>
        <div><a href=https://www.bird.co/fr/>Bird - Enjoy the Ride - Bird.co</a></br>
          22 avr. 2021 — Bird is a reliable last mile electric scooter rental service. Our mission is to make cities more livable by reducing car usage, traffic, and ...</br>
        </div>
        <div><a href=https://www.banquemondiale.org/fr/who-we-are/ibrd>Banque internationale pour la reconstruction et le ...</a></br>
          La BIRD et l'IDA œuvrent en étroite collaboration avec les trois autres institutions du Groupe de la Banque mondiale, ainsi qu'avec les pouvoirs publics et le ...</br>
        </div>
        </br>
      </div>
    </div>
    
  </div>
  <div><a class="go-home" href="/">Back home</a></div>
</body>